body {
    background: linear-gradient(270deg, #f0f8ff, #e6e6fa, #dcdcdc, #f5f5f5, #faf0e6);
    background-size: 1400% 1400%;
    animation: gradientAnimation 60s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.button input, .button button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

.button button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button button:nth-child(2) {
    background-color: green;
    color: white;
}

.button button:nth-child(3) {
    background-color: red;
    color: white;
}